.lite-excel-container {
    padding: 20px;
    background: linear-gradient(#d4e0f0, #c2e2ff);
    button {
        color: #031d6d;
        background-color: #bedcff;
        width: 120px;
        height: 30px;
        border: 2px solid #bee1f2;
        border-radius: 5px;
        &:hover {
            background-color: #dfeaf9;
        }
    }
    .selected-info {
        margin: 10px 10%;
        padding: 5px;
        background-color: #fff;
        text-align: left;
        font-family: sans-serif;
        font-size: 14px;
        span {
            padding: 0 10px;
        }
    }
    table {
        margin: auto;
        border-collapse: collapse;
        border: 2px solid #afb9c5;
        background-color: #fff;
        tr {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        td {
            border: 1px solid #dcdde0;
            height: 18px;
            min-width: 60px;
            cursor: cell;
            &.selected {
                background-color: #ffdb8f; //
            }
            &.lite-excel-error {
                position: relative;
                -moz-box-shadow: 0 0 0 2px #856404;
                -webkit-box-shadow: 0 0 0 2px #856404;
                box-shadow: 0 0 0 2px #856404;
            }
            &.lastSelected {
                position: relative;
                border: 1px solid transparent;
                -moz-box-shadow: 0 0 0 2px #000;
                -webkit-box-shadow: 0 0 0 2px #000;
                box-shadow: 0 0 0 2px #000;
            }
            .lite-excel-iframe-container {
                position: fixed;
                right: 0;
                top: 0;
                width: 383px;
                height: 235px;
                padding: 0;
                overflow: hidden;
                iframe {
                    width: 1280px;
                    height: 786px;
                    border: 0;
                    -ms-transform: scale(0.3);
                    -moz-transform: scale(0.3);
                    -o-transform: scale(0.3);
                    -webkit-transform: scale(0.3);
                    transform: scale(0.3);
                    -ms-transform-origin: 0 0;
                    -moz-transform-origin: 0 0;
                    -o-transform-origin: 0 0;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                }
            }
        }
    }
    .lite-excel-alert {
        position: absolute;
        width: 200px;
        top: 22px;
        left: 0px;
        background-color: #fff3cd;
        color: #856404;
        border-radius: .25rem;
    }
    .lite-excel-formal {
        padding: 10px;
        input {
            width: 400px;
        }
        select {
            width: 100px;
            height: 21px;
        }
        input,
        select {
            border: 2px solid #bee1f2;
        }
    }
}